@font-face {
    font-family: Adrenaline;
    src: url("../fonts/Adrenaline-Regular.woff2");
}

.voirCompetition{
  padding-top: 15vh;
  background-image: url("../images/gradient_sky_opaque.jpg");
  background-attachment: fixed;
  min-height: 100vh;
}

h1.title {
  margin-bottom: 1em;
  font-family: Adrenaline;
}
h1.title {
  font-size: 6em;
  margin-bottom: 1em;
  font-family: Adrenaline;
}

p.big {
  font-size: 2em;
}
p.small {
  font-size: 1.3em;
}

#main{
  /* padding-top: 20vh; */
}

#banner
{
  padding-top: 10vh;
  /* background: #FF5F6D;
  background: -webkit-linear-gradient(to left, #FFC371, #FF5F6D);
  background: linear-gradient(to left, #FFC371, #FF5F6D); */
  background-image: url("../images/gradient_sky.jpg");
  background-size: 100vw 100vh;
  text-align: center;

  color: #F7F7F7;
  /* min-height: 100vh; */
}
#service
{
  /* min-height: 100vh; */
  /* padding-top: 5vh; */
  background: #7474BF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron
{
    background-color: transparent;
}

.item {
}

.foot {
  /* min-height: 90vh; */
  /* padding-top: 50px; */
  padding: 10vh 0vh 10vh 0vh;
}

.footer {
  min-height: 10vh;
  min
  text-align: center;
  color: blue;
  background-color: rgba(0,0,0,0.1);
}

.text-muted {
  margin: 20px 0;
  color: black;
}

.navbar {
  background-color: rgba(0,0,0,0.2);
  border-color:rgba(0,0,0,0);
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color:rgba(0,0,0,0.2)
}

.navbar-default .dropdown-toggle:hover,
.navbar-default .dropdown-toggle:focus {
  background-color: red;
}

.thumbnail img {
  margin-top: 1em;
}

.thumbnail{
  min-height:30vh;
}

.thumbnail h3 {
  text-align: center;
  font-weight: bold;
}

.thumbnail p{
  text-align:center;
}
