{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ajoutMembre.css') }}">
{% endblock %}
{% block main %}
<div class="container-fluid" id="contmain">
  <div class="container">
    <h1 id="nom_equipe" > Ajouter un participant à <b>{{ equipe.nomE }}</b></h1>
      <!-- Example row of columns -->
      <form method="post" action="/tableau_de_bord/{{tournoi.idT}}/equipes/{{equipe.idE}}/valider_ajout_membre">
        <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail">
            <div class="caption">
              <h3>Nouveau membre</h3>
                <div class="input-group" id="text_field_nom">
                  <span class="input-group-addon" id="">Nom</span>
                  <input name="nom_membre" type="text" class="form-control" id="" aria-describedby="basic-addon3" value="">
                </div>
                <div class="input-group" id="text_field_nom">
                  <span class="input-group-addon" id="">Prenom</span>
                  <input name="prenom_membre" type="text" class="form-control" id="" aria-describedby="basic-addon3" value="">
                </div>
                <div class="input-group" id="text_field_nom">
                  <span class="input-group-addon" id="">Mail</span>
                  <input name="mail_membre" type="text" class="form-control" id="" aria-describedby="basic-addon3" value="">
                </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-success btn-lg">Valider</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}