{% extends "base.html" %}
{% block main %}

<!--pip install Flask-UIkit-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/CreerCompetition.css') }}">

<div class="container-fluid" id="test"> <!-- container-fluid -->
  <h1 class="text-center"><strong>Créer votre tournoi !</strong></h1>
  <form method="post" action="/confirmer_competition" enctype="multipart/form-data" onsubmit="return confirmerValidation();">
    <fieldset class="uk-fieldset">
      <div class="uk-container"> <!-- uk-container-->

          <div class="uk-column-1-3@m uk-column-1-1@s uk-column-divider"> <!-- uk-column-1-3 uk-column-divider -->

            <div class="uk-margin">  <!-- uk-margin -->
              <label class="uk-form-label" for="form-stacked-text">Nom du tournoi</label>
              <div class="uk-form-controls">
                <input name="intituleT" class="uk-input" id="form-stacked-text" type="text" placeholder="Nom du tournoi" required>
              </div>
            </div>  <!-- uk-margin -->

            <div class="uk-margin">  <!-- uk-margin -->
              <label class="uk-form-label" for="form-stacked-text uk-text-center">Discpline</label>
              <div class="uk-form-controls">
                <input name="disciplineT" class="uk-input" id="form-stacked-text" type="text" placeholder="Discipline" required>
              </div>
            </div>  <!-- uk-margin -->

            <div class="uk-margin">  <!-- uk-margin -->
              <label class="uk-form-label" for="form-stacked-text uk-text-center">Lieu</label>
              <div class="uk-form-controls">
                <input name="lieuT" class="uk-input" id="form-stacked-text" type="text" placeholder="Lieu" required>
              </div>
            </div>  <!-- uk-margin -->
          </div> <!-- uk-column-1-3 uk-column-divider -->


          <div class="uk-column-1-3@m uk-column-1-1@s  uk-column-divider"> <!-- uk-column-1-3 uk-column-divider -->

            <div class="uk-margin"> <!-- uk-margin -->
              <label class="uk-form-label" for="form-stacked-text">Début du tournoi</label>
              <div class="uk-form-controls">
                <input name="dateT" class="uk-input" id="form-stacked-text" type="date" placeholder="Nom du tournoi" required>
              </div>
            </div> <!-- uk-margin -->

            <div class="uk-margin"> <!-- uk-margin -->
              <label class="uk-form-label" for="form-stacked-text uk-text-center">Fin du tournoi</label>
              <div class="uk-form-controls">
                <input class="uk-input" id="form-stacked-text" type="date" placeholder="Discipline" required>
              </div>
            </div> <!-- uk-margin -->

            <div class="uk-margin"> <!-- uk-margin -->
              <label class="uk-form-label" for="form-stacked-text uk-text-center">Durée du tournoi</label>
              <div class="uk-form-controls">
                <input name="dureeT" class="uk-input" id="form-stacked-text" type="number" placeholder="Durée du tournoi" required>
              </div>
            </div> <!-- uk-margin -->

          </div> <!-- uk-column-1-3 uk-column-divider -->

          <div class="uk-column-1-3@m uk-column-1-1@s uk-column-divider"> <!-- uk-column-1-3 uk-column-divider -->

            <div class="uk-margin"> <!-- uk-margin -->
              <label class="uk-form-label" for="form-stacked-text uk-text-center">Nombre d'équipes</label>
              <div class="uk-form-controls">
                <input name="nbEquipe" class="uk-input" id="form-stacked-text" type="number" placeholder="Nombre d'équipes maximum" required>
              </div>
            </div> <!-- uk-margin -->

            <div class="uk-margin"> <!-- uk-margin -->
              <label class="uk-form-label" for="form-stacked-text uk-text-center">Nombre de participants par équipe</label>
              <div class="uk-form-controls">
                <input name="nbParticipantsMax" class="uk-input" id="form-stacked-text" type="number" placeholder="Nombre participants" required>
              </div>
            </div> <!-- uk-margin -->


          <div class="uk-margin"> <!-- uk-margin -->
            <label class="uk-form-label" for="form-stacked-text uk-text-center">Type de tournoi</label>
            <div class="uk-form-controls" id="radioBouton">
              <label><input class="uk-radio" type="radio" name="typeT" checked> Élimination directe</label>
              <label><input class="uk-radio" type="radio" name="typeT"> Poule</label>
              <label><input class="uk-radio" type="radio" name="typeT"> Championnat</label>
            </div>
          </div> <!-- uk-margin -->

        </div> <!-- uk-column-1-3 uk-column-divider -->

        <hr class="uk-divider-icon ">

        <div class="uk-column-1-2@m uk-column-1-1@s uk-column-divider"> <!-- uk-column-1-2 uk-column-divider -->

            <div class="uk-margin"> <!-- uk-margin -->
              <label class="uk-form-label" for="form-stacked-text uk-text-center">Nom de la chaîne twitch</label>
              <input name="stream" class="uk-input" id="form-stacked-text" type="text" placeholder="Nom de la chaîne twitch">
            </div> <!-- uk-margin -->

            <div class="uk-margin"> <!-- uk-margin -->
              <label class="uk-form-label" for="form-stacked-text uk-text-center">Logo du tournoi</label>
              <input name="logoT"class="uk-input" id="form-stacked-text" type="text" placeholder="Logo du tournoi" required>
            </div> <!-- uk-margin -->

        </div> <!-- uk-column-1-3 uk-column-divider -->

        <div class="uk-column-1-2@m uk-column-1-1@s uk-column-divider">

          <div class="uk-margin"> <!-- uk-margin -->
            <label class="uk-form-label" for="form-stacked-text uk-text-center">Description</label>
            <textarea class="uk-textarea" name="descT" rows="5" placeholder="Description" required></textarea>
          </div> <!-- uk-margin -->

          <div class="uk-margin"> <!-- uk-margin -->
            <label class="uk-form-label" for="form-stacked-text uk-text-center">Règles</label>
            <input type="file" name="reglement" id="file" accept=".pdf" required/>
          </div> <!-- uk-margin -->
        </div><!-- uk-column-1-3 uk-column-divider -->


        <div class="form-group text-center uk-margin">
            <button type="submit" class="btn btn-success btn-lg inputStyle">Créer le tournoi</button>
        </div>
      </div> <!-- uk-container-->
    </fieldset>
  </form>
</div> <!-- container-fluid -->
<script>
  function confirmerValidation(){
    check=window.confirm("Voulez vous vraiment créer ce tournoi ?");
    res=false;
    if (check){
      res=true;
    }
    return res;
  }
</script>

{% endblock %}
