{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/voir_equipes.css') }}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Paytone+One" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.css') }}">
{% endblock %}
{% block scripts %}
<script src="/static/js/uikit.min.js"></script>
<script src="/static/js/uikit-icons.min.js"></script>
{% endblock %}
{% block main %}
<div class="voirCompetition container-fluid">
    <div class="container">
      <form role="form" method="POST" action="voirCompetitionActives.html">
        <h1 class="text-center">Voici les équipes inscrites!</h1>
      </form>
      {% if tournoi.etatT==0 and current_user.is_authenticated and (current_user.idAdmin==tournoi.idAdmin) and tournoi.nbEquipe>nbEquipe %}
      <a href='/tableau_de_bord/{{tournoi.idT}}/equipes/creer_equipe'><button class="bouton center-block">Ajouter équipe <span class="glyphicon glyphicon-search"></span></button></a>
      {% endif %}
    </div>
  <div class="container liste_equipes">
  <div class="container divCartes">
    <div class="row center-block">

        <div class="col-md-4 col-sm-6 ">
          <div class="">
            <ul uk-accordion>
              {% if (equipes|length) == 1 %}
              <li>
                  <a class="uk-accordion-title" href="#">
                    {{ equipes[0].nomE }}
                  </a>
                  <div class="uk-accordion-content">
                    <table class="uk-table">
                      <thead>
                        <tr>
                          <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Nom</th>
                          <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Prenom</th>
                        </tr>
                      </thead>
                    {% for participant in participants[equipes[0].idE] %}
                      <tbody>
                        <tr>
                          <td class="uk-text-center">{{ participant.nomP }}</td>
                          <td class="uk-text-center">{{ participant.prenomP }}</td>
                        </tr>
                      </tbody>
                    {% endfor %}
                  </table>
                  {% if tournoi.etatT==0 and current_user.is_authenticated and (current_user.idAdmin==tournoi.idAdmin) %}
                  <a href='/supprimer_equipe/{{tournoi.idT}}/{{equipes[0].idE}}' onclick="return confirmerValidation()"><button class="btn btn-primary center-block">Supprimer l'équipe <span class="glyphicon glyphicon-search"></span></button></a>
                  <a href='/tableau_de_bord/{{tournoi.idT}}/equipes/{{equipes[0].idE}}/ajouter_un_membre'><button class="bouton center-block">Ajouter membre <span class="glyphicon glyphicon-search"></span></button></a>
                  {% endif %}
                  </div>
              </li>
              {% endif %}
              {% for j in range((equipes|length)//3) %}
                  <li>
                      <a class="uk-accordion-title" href="#">
                        {{ equipes[j].nomE }}
                      </a>
                      <div class="uk-accordion-content">
                        <table class="uk-table">
                          <thead>
                            <tr>
                              <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Nom</th>
                              <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Prenom</th>
                            </tr>
                          </thead>
                        {% for participant in participants[equipes[j].idE] %}
                          <tbody>
                            <tr>
                              <td class="uk-text-center">{{ participant.nomP }}</td>
                              <td class="uk-text-center">{{ participant.prenomP }}</td>
                            </tr>
                          </tbody>
                        {% endfor %}
                      </table>
                      {% if tournoi.etatT==0 and current_user.is_authenticated and (current_user.idAdmin==tournoi.idAdmin) %}
                      <a href='/supprimer_equipe/{{tournoi.idT}}/{{equipes[j].idE}}' onclick="return confirmerValidation()"><button class="btn btn-primary center-block">Supprimer l'équipe <span class="glyphicon glyphicon-search"></span></button></a>
                      <a href='/tableau_de_bord/{{tournoi.idT}}/equipes/{{equipes[j].idE}}/ajouter_un_membre'><button class="bouton center-block">Ajouter membre <span class="glyphicon glyphicon-search"></span></button></a>
                      {% endif %}
                      </div>
                  </li>
                {% endfor %}

                  {% if ( ((equipes|length) != 1) and ( (((equipes|length)%3) == 1) or (((equipes|length)%3) == 2) ) ) %}
                  <li>
                    <a class="uk-accordion-title" href="#">
                      {{ equipes[-1].nomE }}
                    </a>
                    <div class="uk-accordion-content">
                      <table class="uk-table">
                        <thead>
                          <tr>
                            <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Nom</th>
                            <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Prenom</th>
                          </tr>
                        </thead>
                        {% for participant in participants[equipes[-1].idE] %}
                        <tbody>
                          <tr>
                            <td class="uk-text-center">{{ participant.nomP }}</td>
                            <td class="uk-text-center">{{ participant.prenomP }}</td>
                          </tr>
                        </tbody>
                        {% endfor %}
                      </table>
                      {% if tournoi.etatT==0 and current_user.is_authenticated and (current_user.idAdmin==tournoi.idAdmin) %}
                      <a href='/supprimer_equipe/{{tournoi.idT}}/{{equipes[-1].idE}}' onclick="return confirmerValidation()"><button class="btn btn-primary center-block">Supprimer l'équipe <span class="glyphicon glyphicon-search"></span></button></a>
                      <a href='/tableau_de_bord/{{tournoi.idT}}/equipes/{{equipes[-1].idE}}/ajouter_un_membre'><button class="bouton center-block">Ajouter membre <span class="glyphicon glyphicon-search"></span></button></a>
                      {% endif %}
                    </div>
                  </li>
                  {% endif %}

            </ul>
         </div>
       </div><!-- /.col-lg-4 -->

        <div class="col-md-4 col-sm-6 ">
          <div class="">
            <ul uk-accordion>

              {% for j in range((equipes|length)//3, (((equipes|length)//3)*2)) %}
                  <li>
                      <a class="uk-accordion-title" href="#">
                        {{ equipes[j].nomE }}
                      </a>
                      <div class="uk-accordion-content">
                        <table class="uk-table">
                          <thead>
                            <tr>
                              <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Nom</th>
                              <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Prenom</th>
                            </tr>
                          </thead>
                        {% for participant in participants[equipes[j].idE] %}
                          <tbody>
                            <tr>
                              <td class="uk-text-center">{{ participant.nomP }}</td>
                              <td class="uk-text-center">{{ participant.prenomP }}</td>
                            </tr>
                          </tbody>
                        {% endfor %}
                      </table>
                      {% if tournoi.etatT==0 and current_user.is_authenticated and (current_user.idAdmin==tournoi.idAdmin) %}
                      <a href='/supprimer_equipe/{{tournoi.idT}}/{{equipes[j].idE}}' onclick="return confirmerValidation()"><button class="btn btn-primary center-block">Supprimer l'équipe <span class="glyphicon glyphicon-search"></span></button></a>
                      <a href='/tableau_de_bord/{{tournoi.idT}}/equipes/{{equipes[j].idE}}/ajouter_un_membre'><button class="bouton center-block">Ajouter membre <span class="glyphicon glyphicon-search"></span></button></a>
                      {% endif %}
                      </div>
                  </li>
                {% endfor %}
                  {% if (((equipes|length)%3) == 2)%}
                  <li>
                    <a class="uk-accordion-title" href="#">
                      {{ equipes[-2].nomE }}
                    </a>
                    <div class="uk-accordion-content">
                      <table class="uk-table">
                        <thead>
                          <tr>
                            <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Nom</th>
                            <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Prenom</th>
                          </tr>
                        </thead>
                        {% for participant in participants[equipes[-2].idE] %}
                        <tbody>
                          <tr>
                            <td class="uk-text-center">{{ participant.nomP }}</td>
                            <td class="uk-text-center">{{ participant.prenomP }}</td>
                          </tr>
                        </tbody>
                        {% endfor %}
                      </table>
                      {% if tournoi.etatT==0 and current_user.is_authenticated and (current_user.idAdmin==tournoi.idAdmin) %}
                      <a href='/supprimer_equipe/{{tournoi.idT}}/{{equipes[-2].idE}}' onclick="return confirmerValidation()"><button class="btn btn-primary center-block">Supprimer l'équipe <span class="glyphicon glyphicon-search"></span></button></a>
                      <a href='/tableau_de_bord/{{tournoi.idT}}/equipes/{{equipes[-2].idE}}/ajouter_un_membre'><button class="bouton center-block">Ajouter membre <span class="glyphicon glyphicon-search"></span></button></a>
                      {% endif %}
                    </div>
                  </li>
                  {% endif %}
            </ul>
         </div>
       </div><!-- /.col-lg-4 -->
        <div class="col-md-4 col-sm-6 ">
          <div class="">
            <ul uk-accordion>
              {% for j in range(((equipes|length)//3)*2, ((equipes|length)//3)*3) %}
                  <li>
                      <a class="uk-accordion-title" href="#">
                        {{ equipes[j].nomE }}
                      </a>
                      <div class="uk-accordion-content">
                        <table class="uk-table">
                          <thead>
                            <tr>
                              <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Nom</th>
                              <th scope="col" class="uk-width-small uk-text-center uk-text-emphasis">Prenom</th>
                            </tr>
                          </thead>
                        {% for participant in participants[equipes[j].idE] %}
                          <tbody>
                            <tr>
                              <td class="uk-text-center">{{ participant.nomP }}</td>
                              <td class="uk-text-center">{{ participant.prenomP }}</td>
                            </tr>
                          </tbody>
                        {% endfor %}
                      </table>
                      {% if tournoi.etatT==0 and current_user.is_authenticated and (current_user.idAdmin==tournoi.idAdmin) %}
                      <a href='/supprimer_equipe/{{tournoi.idT}}/{{equipes[j].idE}}' onclick="return confirmerValidation()"><button class="btn btn-primary center-block">Supprimer l'équipe <span class="glyphicon glyphicon-search"></span></button></a>
                      <a href='/tableau_de_bord/{{tournoi.idT}}/equipes/{{equipes[j].idE}}/ajouter_un_membre'><button class="bouton center-block">Ajouter membre <span class="glyphicon glyphicon-search"></span></button></a>
                      {% endif %}
                      </div>
                  </li>
                {% endfor %}
            </ul>
         </div>
       </div><!-- /.col-lg-4 -->
       </div><!-- /.row -->
     </div>
   </div>
</div>
<script>
  function confirmerValidation(){
    check=window.confirm("Voulez vous vraiment supprimer cette équipe ?");
    res=false;
    if (check){
      res=true;
    }
    return res;
  }
</script>
{% endblock %}
