{% extends "base.html" %}
{% block main %}

<div id="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="jumbotron">
        <h1 class="title">Cyber Monsieur Loyal</h1>
        <p class="big">« Soyez le chef d'orchestre de votre compétition »</p>
      </div>
    </div>
  </div>
</div>

<section id="service">
  <div class="container foot">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="./static/icons/pen.png" alt="..." height="64px" width="64px">
          <div class="caption">
            <h3>Créer</h3>
            <p>Grâce à Monsieur Cyber Loyal, créer votre compétition selon vos envies et vos règles !</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="./static/icons/settings.png" alt="..." height="64px" width="64px">
          <div class="caption">
            <h3>Gérer</h3>
            <p>Une interface vous permet de modifier à n'importe quel moment votre tournoi selon vos désirs.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="./static/icons/football-field.png" alt="..." height="64px" width="64px">
          <div class="caption">
            <h3>Animer</h3>
            <p>Animer vos compétitions en configurant les matchs de votre tournoi à votre façon et envie.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="./static/icons/research.png" alt="..." height="64px" width="64px">
          <div class="caption">
            <h3>Consulter</h3>
            <p>Vous pouvez consulter la liste des tournois qu'ils soient en cours ou même fini !</p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
  <footer class="footer">
    <div class="container">
      <p class="text-muted">IUT Orléans 2018-2019</p>
    </div>
  </footer>
</section>
{% endblock %}
