{% extends "base.html" %}
{% block main %}
    <p> What a test </p>
    {% for equipe in equipes %}
      <p>{{equipe.idE}}</p>
    {% endfor %}
    <a href="/arreter_match/"><button class="btn btn-success btn-lg inputStyle col-md-11" id="button">Arrêter le tournoi</button></a>
{% endblock %}
