{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/voirMatchs.css') }}">
{% endblock %}
{% block scripts %}
<script src="/static/js/uikit.min.js"></script>
<script src="/static/js/uikit-icons.min.js"></script>
{% endblock %}
{% block main %}
<div class="voirMatches container">
	<div class="panneau_haut">    <!-- Partie du haut, avec le titre et les bouttons -->
		<h2>Matchs du Tournois</h2>
	</div>
<div class="col-md-6">
		<h3 class="text-center">Classement</h3>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Place</th>
					<th scope="col">Nom d'equipe</th>
					<th scope="col">Points</th>
				</tr>
			</thead>
			<tbody>
			{% for equipe in equipes %}
				<tr>
					<td>1</td>
				  <td>{{ equipe.nomE }}</td>
					<td>{{ equipe.points }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
</div>
<div class="">

</div>

<div class ="col-md-6">
		<div class="block_matchs_inter">			<!-- Partie de droite, avec la liste des prochains matchs -->
			<h3 class="text-center">Historique des matchs</h3>
			<ul uk-accordion="collapsible: false; multiple: false">
			{% for equipe in equipes2 %}
			{% set x = "" %}
						<li>
								<a class="uk-accordion-title" href="#">
									{% for i in range(1,(equipe|length)) %}
										{% if i != (equipe|length)-1 %}
											{% set x = x + (equipe[i].nomE + " / ") %}
											{{ x }}
										{% else %}
											{% set x = x + (equipe[i].nomE) %}
											{{ x }}
										{% endif %}
									{% endfor %}
								</a>
								<div class="uk-accordion-content">
									<p class="">La partie {{ equipe[0].idPartie}}
					 				<p class="">Carte de la partie: {{ equipe[0].cartePartie}}</p>
									<a href='/{{equipe[0].idPartie}}/testmatch'><button class="bouton center-block">Lancer le match</button></a>
								</div>
						</li>
				{% endfor %}
			</ul>
		</div>
</div>
</div>
{% endblock %}
