{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/voirCompetitionsTerminees.css') }}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Paytone+One" />
{% endblock %}
{% block main %}
<div class="voirCompetition container-fluid">
  <div class="container">
  <form role="form" method="POST" action="/voir_competitions_terminees/recherche/">
    <h1 class="text-center">Voici les compétitions terminées!</h1>
    <div class="recherche input-group container">
      <input class="rechercheComp form-control" type="text">
      <div class="input-group-btn">
        <button name="search" class="btn btn-default" type="submit">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  </form>
</div>
  <div class="container divCartes">
    <div class="row center-block">
      {% for tournoi in tournois %}
         <div class="col-md-4 col-sm-6 thumbnail cartes">
           <img class="center-block" src="{{ tournoi.logoT }}" alt="Generic placeholder image" width="140" height="140">
           <h2>{{ tournoi.intituleT }}</h2>
           <p class="text-center">{{ dicoAdmin[tournoi.idT][1] }} {{ dicoAdmin[tournoi.idT][2] }}</p>
           <a href='/voir_competition/{{tournoi.idT}}'><button class="bouton center-block" href="#">Voir les détails <span class="glyphicon glyphicon-search"></span></button></a>
         </div><!-- /.col-lg-4 -->
      {% endfor %}
       </div><!-- /.row -->
     </div>
</div>
{% endblock %}
